body{
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	font-family: sans-serif, arial;
}
.banner{
	position: absolute;
	height: 100%;
	width: 100vw;
	background: url(images/banner.jpg) center center no-repeat;
	background-size: cover;
}
.header{
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center ;
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 2rem;
	background-color: #ffffff;
	.web-logo{
	    position: relative;
	    left: 5%;
	    height: 150%;
	    aspect-ratio: 1;
	    background: url(images/blog-icon.png) center center no-repeat;
	    background-size: contain;
	}
	.hal{
		display: flex;
		position: relative;
		align-items: center;
		right: 5%;
		gap: 2rem;
		.home, .about, .write-blog{
			font-size: 16px;
			color: black;
			text-decoration-line: none;
		}
		.login{
			cursor: pointer;
			height: 2rem;
			border: none;
			border: 1px solid black;
			border-radius: 50%;
			aspect-ratio: 1;
			background: url(images/user-avatar.png) center center no-repeat;
			background-size: contain;
		}
	}
	.menu-icon{
		display: none;
	}
	@media (max-width: 768px){
		.hal{
			display: none;
		}
		.menu-icon{
			display: block;
			position: fixed;
			right: 5%;
			width: 2rem;
			border: none;
			aspect-ratio: 1;	
			background: url(images/menu-icon.png) center center no-repeat;
			background-size: contain;
			.hawl{
				display: none;
				position: absolute;
		        right: -2.4rem;
		        top: 2.9rem;
		        width: 50vw;
		        height: 95vh;
		        background-color: white;
				.home, .about, .write-blog, .login, .signup{
					position: relative;
					display: block;
					font-size: 1rem;
					color: black;
					padding: 2rem;
					text-decoration-line: none;
				}
			}
		}
	}
}
.container{
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 2rem;
	width: 100vw;
	height: 100vh;
	.welcome{
		color: white;
		font-size: 2.5rem;
	}
	.start-button{
		color: black;
		text-decoration-line: none;
		font-size: 1rem;
		background: white;
		border-radius: 5%;
		padding: 1em;
	}
}
.blog-preview{
	display: grid;
    grid-template-columns: auto auto;
    position: relative;
    width: 100vw;
    max-width: -webkit-fill-available;
    background: white;
    gap: 5rem;
    padding: 3rem 4rem;
	.blog-post{
		background: white;
	    display: flex;
	    flex-direction: column;
	    p{
    		margin: 0;
    	}
		.blog-avatar{
			width: 100%;
			height: 13em;
			border-radius: 5%;
			background: url(images/example.jpg) center center no-repeat;
			background-size: cover;
		}
		.blog-title{
		    width: 100%;
			height: 5rem;
		    font-weight: 600;
		    font-size: 3vh;
		    padding: 2% 0;	
		}
		.blog-content{
		    width: 100%;
		    height: 6rem;
		    font-size: 2vh;
		    padding-top: 2%;
		    padding-bottom: 1.5rem;
		}
		.read-button{
			width: 2.5em;
		    height: 1em;
		    text-decoration-line: none;
		    background: black;
		    color: white;
		    padding: 0.7em 1em;
		    border-radius: 10%;
		}
	}
}
@media (max-width: 768px){
	.blog-preview{
		grid-template-columns: auto;
	}
}
.footer{
	width: 100%;
	background-color: black;
	.contact-container{
		display: grid;
		grid-template-columns: 40% auto;
		padding: 2rem 3rem;
		.left{
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			.contact-icon{
				display: flex;
				gap:1rem;
				padding: 0.6em 0;
				.ytb-icon{
					background: url(images/ytb-icon.jpg) center center no-repeat;
				}
				.fb-icon{
					background: url(images/fb-icon.png) center center no-repeat;
				}
				.x-icon{
					background: url(images/x-icon.png) center center no-repeat;
				}
				.ytb-icon, .fb-icon, .x-icon{
					width: 0.5rem;
					height: 0.5rem;
					background-size: contain;
					border-radius: 50%;
					padding: 1rem;
				}
			}
			.re-name{
				color: white;
				font-weight: 600;
				font-size: 2rem;
			}
			.contact-number, .email, .powered{
				color: white;
				font-size: 0.95rem;
			}
		}
		.right{
			.feedback{
				color: white;
				font-size: 2rem;
				font-weight: 400;
			}
			.ask{
				color: white;
				font-size: 1.1rem;
			}
			.name{
				margin-top: 3rem;
				display: grid;
				gap: 0.7rem 1.5rem;
				grid-template-columns: auto auto;
				.f-name-text, .l-name-text{
					color: white;
					font-size: 1rem;
				}
				.input-box{
					border-bottom: 1px solid whitesmoke;
					.input-area{
						width: 100%;
					    background-color: transparent;
					    color: white;
					    font-size: 1rem;
					    padding-left: 6%;
					    line-height: 0.7;
					    border: none;
					    outline: none;
					    resize: none;
					    overflow: hidden;
					    white-space: nowrap; 
					}
				}
			}
		}
	}
	@media (max-width: 768px){
	.contact-container{
		grid-template-columns: auto;
		gap: 2rem;
	}
}
}