body{
	margin: 0 !important;
	padding: 0 !important;
}
.banner{
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: url(images/banner.jpg) center center no-repeat;
	background-size: cover;
}
.header{
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center ;
	position: fixed;
	width: 100vw;
	height: 2rem;
	background-color: #ffffff;
	.web-logo{
	    position: relative;
	    left: 5%;
	    height: 100%;
	    aspect-ratio: 1;
	    background: url(images/blog-icon.png) center center no-repeat;
	    background-size: contain;
	}
	.hal{
		display: flex;
		position: relative;
		align-items: center;
		right: 5%;
		gap: 2rem;
		.home, .about, .write-blog{
			font-family: Arial, sans-serif;
			font-size: 16px;
			color: black;
			text-decoration-line: none;
		}
		.login{
			cursor: pointer;
			height: 4vh;
			border: none;
			border: 1px solid black;
			border-radius: 50%;
			aspect-ratio: 1;
			background: url(images/user-avatar.png) center center no-repeat;
			background-size: contain;
		}
	}
}
.container{
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	.welcome{
		color: white;
		font-size: 30px;
	}
}